body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/background.png);
}

h1 {
    font-size: 59px;
}

.inputsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 678px;
}

.inputsContainer input {
    width: 128px;
    height: 128px;
    margin: 2px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 36px;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: #eeeeee;
    border-radius: 30px;
    text-align: center;
    margin: 4px;
    font-size: 150px;
    background-image: url(images/box.jpg);
    border-width: 0px;
    outline: none;
}

input:hover {
    opacity: 0.9;
}

.bttnsContainer {
    width: 24%;
    height: 298px;
    right: 50%;
    margin-top: -209px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 75vh;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

button {
    -moz-box-shadow: inset 0px 0px 0px 0px #cf866c;
    -webkit-box-shadow: inset 0px 0px 0px 0px #cf866c;
    box-shadow: inset 0px 0px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #d0451b;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #942911;
    /* display: inline-block; */
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    padding: 18px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 38px #854629;
    /* position: absolute; */
    /* left: 47%; */
    text-align: center;
    position: relative;
    top: 0;
}

button:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
    background-color: #bc3315;
}

button:active {
    position: relative;
    top: 1px;
}

.hide {
    display: none;
}

.winningAnimation {
    animation-name: flash;
    animation-duration: 3s;
    color: blue;
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
